<nav id="nav">
  <div class="container">
    <ul class="left hide-on-med-and-down">
        <li><%= link_to 'Home', home_path %></li>
        <li><%= link_to 'My Account', customer_path(current_user.customer) %></li>
        <li><%= link_to 'My Orders', orders_path %></li>
        <li><%= link_to 'Items', items_path %></li>

    </ul>
    <ul class="right">

      <li><%= link_to 'Logout', logout_path %></li>
    </ul>
  </div>
</nav>