<nav id="nav">
  <div class="container">
    <ul class="left hide-on-med-and-down">
        <li><%= link_to 'Home', home_path %></li>
        <li><%= link_to 'Checklist Categories', categories_path %></li>
        <li><%= link_to 'To-Do List', home_path %></li>

    </ul>
    <ul class="right">
      <li><%= link_to 'Profile', parents_path %></li>
      <li><%= link_to 'Logout', logout_path %></li>
    </ul>
  </div>
</nav>