<nav id="nav">
  <div class="container">
    <ul class="left hide-on-med-and-down">
        <li><%= link_to 'Home', home_path %></li>
        <li><%= link_to 'My Account', customer_path(current_user.customer) %></li>
        <li><%= link_to 'My Orders', orders_path %></li>
        <li><%= link_to 'Items', items_path %></li>

    </ul>
    <ul class="right">

      <% if session[:cart].nil? || session[:cart].size == 0 %>
        <li><%= link_to "View Cart", view_cart_path %></li>
      <% else %>
        <li><%= link_to "View Cart(#{session[:cart].size})", view_cart_path %></li>
      <% end %>

      <li><%= link_to 'Logout', logout_path %></li>
    </ul>
  </div>
</nav>