<div class="card hoverable">
    <div class="card-content">
 <table class="table table-striped centered">
  <thead>
  <h3> Previous Orders  </h3>
    <tr>
      <th width="100">Date</th>
      <th width="300">Recipient</th>
      <th width="100">Item Count</th>
       <th width="100">Cost</th>

    </tr>
  </thead>
    <tbody>
    <% @previous_orders.each do |o| %>
      <tr>
        <td align="center"><%= link_to o.date.strftime('%m/''%d/''%y'), order_path(o) %></td>
        <td align="center"><%= o.address.recipient %></td>
        <% if o.order_items.count == 1%>
            <td align="right"><%= o.order_items.count %> Item</td>
        <% else %>
            <td align="right"><%= o.order_items.count %> Items</td>
        <% end %>
        <td align="center"><%= number_to_currency o.grand_total %></td>
      </tr>
    <% end %>
  </tbody>
  </div>
</div>
</table> 