<div class="card">
    <div class="card-content">
        <h4>Details on <%= @item.name %> </h4>

        <b>Description:</b> <%= @item.description %><br>

        <b>Color:</b> <%= @item.color %><br>
        <p><b>Weight:</b> <%= @item.weight %> lbs</p>
        <b>Current Price:</b> <%= number_to_currency @item.current_retail_price %><br>

        <% if !current_user.nil? && current_user.role?(:admin) %>
            <b>Inventory Level:</b> <%= @item.inventory_level %> </br>
            <b>Reorder Level:</b> <%= @item.reorder_level %><br><br>

            <% if @item.active %>
                <%= link_to "Make Inactive", toggle_active_path, method: :patch, class: 'waves-effect waves-light btn btn-alert'%>
            <% else %>
                <%= link_to "Make Active", toggle_active_path, method: :patch, class: 'waves-effect waves-light btn btn-alert'%>
            <% end %>

            <% if @item.is_featured %>
                <%= link_to "Stop Featured", toggle_feature_path, method: :patch, class: 'waves-effect waves-light btn btn-alert'%>
            <% else%>
                <%= link_to "Make Featured", toggle_feature_path, method: :patch, class: 'waves-effect waves-light btn btn-alert'%>
            <% end %>
        <% end%>

        <% if logged_in? && current_user.role?(:customer) %>
            <br>
            <%= link_to "Add to Cart", add_item_path(params[:id]), class: 'waves-effect waves-light btn btn-alert' %>
        <% end %>

    </div>
</div>