<div class="card">
    <div class="card-content">
        <h4><%= @parent.p1_last_name%> Family Unit</h4>

        <table class = "striped highlight">
            <thead>
                <th></th>
                <th>First Name</th>
                <th>Last Name</th>
            </thead>
                <tr>
                   <td><%= "Primary Parent"%></td>
                    <td><%= "#{@parent.p1_first_name}"%></td>
                    <td><%= "#{@parent.p1_last_name}" %></td>
                </tr>
                <% if @parent.p2_first_name != "" %>
                    <td><bold><%= "Secondary Parent"%></bold></td>
                    <td><%= "#{@parent.p2_first_name}"%></td>
                    <td><%= "#{@parent.p2_last_name}" %></td>
                <% end %>
        </table> <br><br>

        <% if @parent.active %>
            <b>Status: </b>Active Family<br><br>
        <% else %>
            <b>Status: </b>Inactive Family <br><br>
        <% end %>

        <b>Username:</b> <%= @parent.user.username%><br><br>

        <b>Phone Number:</b> <%= best_in_place @parent, :phone_number, as: :input, display_with: :number_to_phone %><br><br>

        <b>Email Address:</b> <%= best_in_place @parent, :email, as: :input %><br><br>

        <b>Open Beds:</b> <%= @parent.open_beds%><br><br>

        <b>Family Style:</b> <%= @parent.family_style%><br><br>

        <% if !current_user.nil? && current_user.role?(:case_worker) %>
            <% if @parent.active %>
                <%= link_to "Make Inactive", toggle_active_parent_path, method: :patch, class: 'waves-effect waves-light btn btn-alert'%>
            <% else %>
                <%= link_to "Make Active", toggle_active_parent_path, method: :patch, class: 'waves-effect waves-light btn btn-alert'%>
            <% end %>
        <% end%>

    </div>
</div>