<div class="card">
    <div class="card-content">
        <h4><%= "#{@category.name}" %> Files </h4>
        <table class = "striped highlight">
            <thead>
                <th>Section Items</th>
                <th>Completion</th>
                <th>Latest Submission</th>
            </thead>

            <% for item in @unique_items_by_category[@category] %>
                <tr>
                    <td><%= link_to "#{item.name}", item_path(item) %></td>
                    <% if item.assignments.exists?(completion: false)%>
                        <td style="color: #f04735"><%= "Incomplete"%></td>
                    <% else %>
                        <td style="color: #518458"><%= "Complete"%></td>
                    <% end %>

                    <% latest_submission = Submission.joins(:assignment).where(assignments: { item_id: item.id }).order(created_at: :desc).first %>
                    <% if !latest_submission.nil? && !latest_submission.file.nil?  %>
                        <td> <%= link_to "#{latest_submission.filename}", rails_blob_path(latest_submission.file, disposition: "attachment") %> </td>
                    <% else %>
                        <td>No linked files.</td> 
                    <% end %>
                </tr>
            <% end%>
        </table><br>
    </div>
</div>