<!DOCTYPE html>
<html>
  <head>
    <title>GVCS Submission System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <%= render :partial => "partials/topbar" %>

    
    <%= render :partial => "partials/nav_guest" %>
    

      <div id="main_content">
      <!-- Main content of template goes here -->
      <%= render :partial => "partials/flash"%>

      <div id="padded_content">
        <%= yield %>
      </div>

      </div>

    <%= render :partial => "partials/footer" %><br>
  </body>
</html>
